<table
  align="center"
  border="0"
  cellpadding="0"
  cellspacing="0"
  class="m-wrap"
  width="600"
>
  <tbody>
    <tr>
      <td height="50"></td>
    </tr>
    <tr>
      <td>
        <h3 style="margin: 0px; text-transform: uppercase; color: #173954">
          <font face="sans-serif" size="+2">Forgot your password?</font>
        </h3>
        <p style="margin: 25px 0px; line-height: 24px">
          <font color="#173954" face="sans-serif" size="3">
            Click the link below to be directed to a secure page where you can
            reset your password.
          </font>
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="250">
          <tbody>
            <tr>
              <td align="center" bgcolor="#2D90E0" style="border-radius: 30px">
                <a
                  href="{%WebsiteUrl%}admin/{%ResetPasswordLink%}"
                  style="
                    padding: 15px;
                    border: 1px solid #2d90e0;
                    border-radius: 30px;
                    font-family: sans-serif;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 700;
                    display: inline-block;
                  "
                  >RESET PASSWORD</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="left" height="100" valign="middle">
        <hr
          style="margin: 0px; border: none; height: 1px; background: #c7c7c7"
        />
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 0px 0px 30px">
          <font color="#173954" face="sans-serif" size="3">
            Need additional help? Don't hesitate to contact us at
            <a href="mailto:{%ContactEmail%}" style="color: #2d90e0"
              >{%ContactEmail%}</a
            >.
          </font>
        </p>
        <h4 style="margin: 0px; line-height: normal">
          <font color="#173954" face="sans-serif" size="3"
            >The {%WebsiteName%} team</font
          >
        </h4>
        <p style="margin: 5px 0px 0px">
          <a href="{%WebsiteUrl%}"
            ><font color="#2D90E0" face="sans-serif" size="3"
              >{%WebsiteUrl%}</font
            >
          </a>
        </p>
      </td>
    </tr>
    <tr>
      <td align="left" height="50" valign="bottom">
        <hr
          style="margin: 0px; border: none; height: 1px; background: #c7c7c7"
        />
      </td>
    </tr>
    <tr>
      <td>
        <p style="margin: 30px 0px 0px">
          <font
            color="#a5a5a5"
            face="sans-serif"
            style="line-height: 24px; font-style: italic; font-size: 14px"
          >
            If you feel like you received this email by mistake, please send us
            a message to let us know at
            <a href="mailto:{%ContactEmail%}" style="color: #2d90e0"
              >{%ContactEmail%}</a
            >.
          </font>
        </p>
      </td>
    </tr>
    <tr>
      <td height="75"></td>
    </tr>
  </tbody>
</table>
